.durationField {
    width: 60px;
}
th {
    background-color: #fff;
}

tr.playlistentry .buttons {
    opacity: 0.0;
}
tr.playlistentry:hover .buttons {
    opacity: 1.0;
}

button.btn-playlist-add {
    width: 65px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
