<div class="container">
  <div class="alert alert-danger">
    <h2>Could not load playlists!</h2>

    <p>The list of playlists could not be loaded. This most likely means you are
    trying to access the logging sheets from outside the station. You will need to log in.</p>
  </div>

    <h3>{{#link-to 'login'}}Log in to access playlists{{/link-to}}</h3>

    <p>If you are <strong>inside</strong> the station and are seeing this
    error, please contact Michael or Ian by phone.</p>

</div>
