<div class="container">
    <h1>Recent Logging Sheets</h1>

    {{#each playlistsByDate as |group|}}
    <h2>{{pretty-date group.value }}</h2>
        {{#each group.items as |playlist|}}

            {{playlist-summary playlist=playlist}}

        {{/each}}
    {{/each}}

    <nav>
    <ul class="pager">
        {{#if model.meta.previous}}
        <li>{{#link-to "playlists" (query-params page=model.meta.previous)}}Newer Playlists{{/link-to}}</li>
        {{else}}
        <li class="disabled"><span>Newer Playlists</span></li>
        {{/if}}
        {{#if model.meta.next}}
        <li>{{#link-to "playlists" (query-params page=model.meta.next)}}Older Playlists{{/link-to}}</li>
        {{else}}
        <li class="disabled"><span>Older Playlists</span></li>
        {{/if}}
    </ul>
    </nav>

</div>
