<div class="col-sm-3 col-md-2 sidebar">

  {{#if session.isAuthenticated }}
  <h4><span class="glyphicon glyphicon-music"></span> Catalogue</h4>
  <ul class="nav nav-sidebar">
    <li>{{#link-to 'catalogue.search' (query-params page='null' search='null')}}Quick Search{{/link-to}}</li>
    <li><a href="#">Advanced Search</a></li>
    <li>{{#link-to 'catalogue.latest' (query-params page=1)}}New Releases{{/link-to}}</li>
    <li><a href="#">Create Entry</a></li>
    <li><a href="#">Statistics</a></li>
  </ul>
  {{/if}}

  <h4><span class="glyphicon glyphicon-list-alt"></span> Playlists</h4>
  <ul class="nav nav-sidebar">
    <li>{{#link-to 'playlists.new'}}New Playlists{{/link-to}}</li>
    <li>{{#link-to 'playlists'}}Recent Playlists{{/link-to}}</li>
  </ul>
  {{#if session.isAuthenticated }}
  <h4><span class="glyphicon glyphicon-bullhorn"></span> Show Downloads</h4>
  <ul class="nav nav-sidebar">
    <li><a href="">Voice Logger Files</a></li>
    <li><a href="">Show Logger Files</a></li>
  </ul>
  {{/if}}
</div>
