<nav class="navbar navbar-inverse hidden-print">
 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/logger">Three D Intranet</a>
    </div>

<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li>{{#link-to "playlists.new"}}New Logging Sheet{{/link-to}}</li>
        <li><a href="/logger/today/">Today's Plays<span class="sr-only">(current)</span></a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
        <li>Logged in as {{ session.user }}</li>
        <li><a {{action 'invalidateSession'}}>Logout</a></li>
        {{else}}
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
    </ul>
    </div><!-- /.navbar-collapse -->
</div>


</nav>
