        <thead>
            <tr>
                <th colspan="10">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#saveModal">
                            Submit Logging Sheet
                        </button>
                    </div>
                    {{playlist-quota-pills model=model}}
            </th></tr>
            <tr>
                <th>#</th><th>Artist</th><th>Track</th><th>Album</th><th>Duration</th><th>Local</th><th>Aus</th><th>Fem</th><th>NR</th><th></th>
            </tr>
        </thead>

