        <thead>
            <tr>
                <th colspan="9">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#saveModal">
                            Submit Logging Sheet
                        </button>
                        <input class="btn btn-default" type="submit" name="save" value="Save and Continue">
                    </div>
                    <h4>
                        <span id="local_label" class="label label-default">Local: <span id="local_quota"></span></span>
                        <span id="aus_label" class="label label-default">Australian: <span id="aus_quota"></span></span>
                        <span id="female_label" class="label label-default">Female: <span id="female_quota"></span></span>
                    </h4>
            </th></tr>
            <tr>
                <th>#</th><th>Artist</th><th>Track</th><th>Album</th><th>Duration</th><th>Local</th><th>Aus</th><th>Fem</th><th>NR</th>
            </tr>
        </thead>

